header {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    background-color: $header-footer-color;
    text-align: center;
    padding: 0.5%;


    .retour_index {
        color: $header-footer-font-color;
        text-decoration: none;
    }
}
