$background-la-note-enchantee: rgb(252,223,219);

.container {
    margin-top:20px;
}
.background_color_la_note_enchatee {
    background-color: $background-la-note-enchantee;
    margin: 0 10% 0 10%;
    padding: 5%;
    font-family: 'Caveat', cursive; 
    font-size:1.1em;
    
    .line {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}
    .h1_NE {
        text-align: center;
        font-size: 1.5em;
    }     
}

    .line_left_NE {
            background-color: black;
            clip-path: polygon(1% 41%, 26% 43%, 61% 43%, 100% 43%, 99% 49%, 65% 49%, 26% 47%, 0 48%, );
            width: 25%;
        }

    .line_right_NE {
            background-color: black;
            clip-path: polygon(0 42%, 40% 40%, 95% 43%, 99% 49%, 40% 48%, 0 48%, );
            width: 25%;
        }

.last_title_NE {
    display: flex;
    justify-content: center;
    padding-top: 30px;
                   }

    .fa-music {
        font-size: 2em;
        padding-top:25px;
        padding-right: 30px;
        background: linear-gradient(to right, #f04a5e 0%, #f8a183 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .titre_center1_NE {
        font-size: 1.4em;
        position: relative;
    }

    .titre_center1_NE:before {
        position: absolute;
        left: -5px;
        right: 5px;
        content: '';
        height: 0;
        width: 0;
        border-bottom: 5px solid transparent;
    }

    .titre_center1_NE:hover:before {
        height: 80px;
        width: 105px;
        border-bottom: 5px solid black;
        transition: width 0.5s linear 0.5s;
    }

    .titre_center2_NE {
        font-size: 1.4em;
        position: relative;
    }

    .titre_center2_NE:before {
        position: absolute;
        left: -5px;
        right: 5px;
        content: '';
        height: 0;
        width: 0;
        border-bottom: 5px solid transparent;
    }

    .titre_center2_NE:hover:before {
        height: 80px;
        width: 175px;
        border-bottom: 5px solid black;
        transition: width 0.5s linear 0.5s;
    }

    .titre_center3_NE {
        font-size: 1.4em;
        position: relative;
    }

    .titre_center3_NE:before {
        position: absolute;
        left: -5px;
        right: 5px;
        content: '';
        height: 0;
        width: 0;
        border-bottom: 5px solid transparent;
    }

    .titre_center3_NE:hover:before {
        height: 80px;
        width: 225px;
        border-bottom: 5px solid black;
        transition: width 0.5s linear 0.5s;
    }

@media screen and (max-width:1350px) {
   
    .container {
        margin: 4% 0 20% 0;
    }
    .background_color_la_note_enchatee{
        margin: 2%;
    }
}

@media screen and (max-width:600px) {
    .h1_NE {
        font-size: 1em;
        width: auto;
    }
}