#body_mentions {
    margin: 4% 10% 12% 10%;
    padding: 2%;
    background: rgba(87,156,135,0.2);

    h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 2em;
    }

    p {
        text-align: justify;
    }
}
