$background-la-note-enchantee: rgb(252,223,219);
$header-footer-font-color: rgb(253,203,70);
$header-footer-color: rgb(87,156,135);

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#body_index {
    margin: 4% 11% 12% 11%;

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        text-decoration: none;

        .menu_accueil {
            width: 450px;
            height: 600px;
            box-shadow: -2px 2px 15px 1px rgba(0,0,0,0.50);
            border: 1px solid rgb(241,241,241);
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    .fa-music {
        width: 55px;
        height: 55px;
        margin-left: auto;
        margin-right: auto;
        font-size: 2em;
        background: linear-gradient(to right, #f04a5e 0%, #f8a183 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .la_note_enchantee {
        background-color: $background-la-note-enchantee;
        color: rgb(60,18,24);
        font: bold 1.7em 'Caveat', cursive;
        justify-content: center;

        h2 {
            font-family: 'Varela Round', sans-serif;
        }
    }

    .le_chic_a_la_francaise {
        font: 1.3em 'Merienda One', cursive;
        justify-content: center;

        h3 {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            background: linear-gradient(151deg, rgba(216,133,46,1) 0%, rgba(218,184,183,1) 50%, rgba(144,91,253,1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }

        h2 {
            color: rgb(199,116,18);
            font-family: 'Lora', serif;
        }
    }

    .le_delice_des_papilles {
        font: 1.3em 'Dancing Script', cursive;
        justify-content: center;

        h3 {
            font-size: 1.7em;
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            background: linear-gradient(151deg, rgba(2,40,221,1) 0%, rgba(6,112,243,1) 50%, rgba(34,157,249,1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }

        h2 {
            font-family: 'Kalam', cursive;
            font-weight: normal;
            color: rgb(8,135,251);
        }
    }

    .la_palette_du_gout {
        font: 1.5em 'Merienda One', cursive;
        justify-content: center;

        h3 {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            background: linear-gradient(115deg, rgba(61,147,57,1) 0%, rgba(174,225,147,1) 50%, rgba(191,255,126,1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }

        h2 {
            font-family: 'Kalam', cursive;
            font-weight: normal;
            color: rgb(114,191,86);
        }
    }

    .font_menu {
        font-family: 'Caveat', cursive;
    }
}
.effet{
    margin:2%;
}

.effet:hover {
    h2, h3, .fa-music {
        transform: scale(1.33);
        opacity: 0.5;
        padding:20px;
         }
}

    .button {
        background-color: $header-footer-color;
        color: $header-footer-font-color;
        font-size: 2em;
        text-align: center;
        width: 300px;
        height: 45px;
        margin: auto;
        border-radius: 5px;

        .one {
            opacity: 0;
            animation: dot 2s infinite;
            animation-delay: 0.0s;
        }

        .two {
            opacity: 0;
            animation: dot 2s infinite;
            animation-delay: 0.3s;
        }

        .three {
            opacity: 0;
            animation: dot 2s infinite;
            animation-delay: 0.6s;
        }
    }

   .line {
       width:110%;
       display:flex;
       margin-left:-5%;
       margin-right:5%;
   }

a {
       text-decoration: none;
}

@media screen and (max-width:1350px) {
    #body_index {
        margin: 4% 2% 20% 2%;
    }
    
}
@media screen and (max-width:1000px) {
    section {        
            justify-content: center;
        }
    }
@media screen and (max-width:600px) {
    #body_index {
        margin-bottom: 150px;
    }
}
